@font-face
{
	font-family: "Nunito";
	src: url("Nunito-Regular.ttf");
}
article
{
	border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.8) 0px 4px 10px;
}
body
{
	display: inline-block;
	font-family: "Nunito";
	font-size: 16px;
	width: 100%;
}
header
{
	background: url("imagenes/LogoBronco.png") no-repeat 50%;
	height: 8em;
	width: 100%;
}
footer
{
	text-align: right;
}
table tr:hover
{
	background: #F8F8F8;
}
#AccessData_Message, 
#alertEstadoLogin, 
#CompanyData, 
#CreatingUsers_Create,
#lnkCreatingUsers,
#MyUsers_Delete, 
#MyUsers_DeleteAlert, 
#MyUsers_DeleteUser, 
#MyUsersEdit_CompanyData, 
#MyUsersEdit_Message, 
#MyUsers_Edit, 
#MyUsers_Edit_Confirm, 
#MyAccount_Options_CreatingUsers,
#MyAccount_Options_Permissions_Delete, 
#MyUsersEdit_Permissions,  
#PersonalInformation_Message
{
	display: none;
}
#cboLanguage
{
	float: right;
}
#frmLogin
{
	border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.8) 2px 2px 8px;
	display: block;
	margin: 1em auto;
	padding: 0.4em;
	text-align: center;
	width: 40%;
}
#MyUsers_InfoUser li
{
	display: block;
}
#tableMyUsers_Username
{
	text-decoration: underline;
}
#tableMyUsers_Username:hover
{
	color: blue;
	cursor: pointer;
}
#tableMyUsers td
{
	cursor: pointer;
}
#tabs {		/*Controla todo el contenedor*/
	font-family: "Nunito";
	position: relative;
	padding-left: 10%;
	border-bottom: none;
}
#tabs > .ui-tabs-nav { /*Controla el contenedor del menú lateral*/
	bottom: 1em;
	/*border-bottom: none;*/
	left: 1em;
	padding: 0.2em 0 0.2em 0.2em;
	position: absolute;
	top: 1em;
	width: 10%;
}
#tabs > .ui-tabs-nav li { /*Controla los controles (las opciones) del menu lateral */
	/*border-right: none;
	right: 1px;*/
	width: 100%;
}
/*#tabs > .ui-tabs-nav li a { /*Controla el mensaje (a) de los controles*/
	/*float: right;
	text-align: right;
	width: 100%;
}*/
#tabs section
{
	float: rigth;
	margin: 1em;
}
.inputForm
{
	margin: 0.8em 0 0.8em 0;
	padding: 0.4em 0.6em 0.4em 0.6em;
	width: 35%;
}
.labelForm
{
	float: left; 
	clear: right;
	margin: 0.4em 1.2em 0.4em 0;
	text-align: right;    
	width: 35%;
}
.password {
	font-size : 12px;
	border : 1px solid #cc9933;
	/*width : 200px;*/
	font-family : arial, sans-serif;
}
.pstrength-minchar {
	font-size : 10px;
}
#MyUsers_InfoUser
{
	column-count: 2;
}


#container 
{
        width : 97%;
        height: 384px;
        margin: 8px auto;
}
#rdsAgrupacion
{
	color: black;
}
#stats_
{
	height: 70em;
}
#PanelSuperior article
{
	background: PaleGoldenRod ;
	cursor: pointer;
	display: inline-block;
	margin: 0.6em 0.6em 0.6em 0.6em;
	min-height: 8em;
	text-align: center;
	vertical-align: top;
	width: 20%;
}
#DashboardGraficas section
{
	cursor: pointer;
	display: inline-block;
	margin: 0.6em 0.6em 0.6em 0.6em;
	text-align: left;
	vertical-align: top;
}
#Dashboard_GeoGraficas
{
	width: 15%;
}
#DashBoard #dashboard_chart_div
{
	width: 60%;
}
#PanelSuperior #DashboardFechas
{
	display: inline-block;
	vertical-align: top;
	width: 30%;
}
#PanelSuperior #DashboardFechas input
{
	width: 27%;
}
#Dashboard_table_div
{
	width: 40%;
}

#DashBoard article span
{
	color: green;
	font-size: 2.5em;
}
