@font-face
{
	font-family: "Nunito";
	src: url("Nunito-Regular.ttf");
}
body
{
	display: inline-block;
	font-family: "Nunito";
	font-size: 16px;
	width: 100%;
}
header
{
	background: url("imagenes/LogoBronco.png") no-repeat 50%;
	height: 8em;
	width: 100%;
}
footer
{
	text-align: right;
}
#alertEstadoLogin, #CompanyData, #AccessData_Message , #PersonalInformation_Message
{
	display: none;
}
#cboLanguage
{
	float: right;
}
#frmLogin
{
	border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.8) 2px 2px 8px;
	display: block;
	margin: 1em auto;
	padding: 0.4em;
	text-align: center;
	width: 40%;
}

#tabs
{
	font-family: "Nunito";
	width: 100%;
}
#tabs section
{
	width: 80%;	
	float: rigth;
	margin: 1em;
}
/*#MainMenu
{
	display: block;
	float: left;
	width: 10%;
}*/
.calentahuevos
{
	display: inline-block;
	color: pink;
	margin: 1%;
	padding: 1% 0;
	vertical-align: top;
}
.inputForm
{
	margin: 0.8em 0 0.8em 0;
	padding: 0.4em 0.6em 0.4em 0.6em;
	width: 35%;
}
.labelForm
{
	float: left; 
	clear: right;
	margin: 0.4em 1.2em 0.4em 0;
	text-align: right;    
	width: 35%;
}
.password {
font-size : 12px;
border : 1px solid #cc9933;
/*width : 200px;*/
font-family : arial, sans-serif;
}
.pstrength-minchar {
font-size : 10px;
}
